.wrapper {
  position: relative;
  overflow: hidden;
}

.carouselButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 2;
  width: 3%;  
  height: auto;
  max-width: 50px;
  max-height: 50px;
}

.carouselButtonPrev {
  left: 4%;
}

.carouselButtonFirst {
  left: 1%;
}

.carouselButtonNext {
  right: 4%;
}

.carouselButtonLast {
  right: 1%; 
}

.imagesContainer {
  position: relative;
  width: 80%;
  height: 100%;
  margin: 0 auto; 
  overflow: hidden;
}

.carouselContainer {
  position: relative;
  display: flex;
  transition: transform 0.4s ease;
  transform: translateX(0%);
}

.carouselContainer.sliding {
  transition: none;
}

.carouselContainer.sliding.next {
  transform: translateX(calc(70% + 20px)); 
}

.carouselContainer.sliding.prev {
  transform: translateX(calc(-70% - 20px));
}

.carouselSlot {
  flex: 1 0 100%;
  flex-basis: 70%;
  margin-right: 20px;
}

.carouselSlot img {
  width: 100%;
}

.carouselContainer::before {
  left: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

.carouselContainer::after {
  right: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

@media (max-width: 768px) {
  .carouselButton {
    display: none;
  }
  .imagesContainer {
    width: 100%;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .carouselButton {
    width: 4%;
    max-width: 30px;
    max-height: 30px;
  }
}